<div id="<%= dom_id pet %>">
  <img class="pet_img" src="app/assets/images/eins.JPG" alt="">
  <p>
    <strong>Pet name:</strong><%= pet.name %><br>
    <strong>Pet owner:</strong><%= pet.user_id %><br>
    <strong>Breed:</strong><%= pet.breed %><br>
    <strong>Species:</strong><%= pet.species %><br>
  </p>
</div>
