<head>
  <%= stylesheet_link_tag 'pet_show' %>
</head>

<div class="container">
  <div class= "pet_show_bar">
    <h1><%= @pet.name %>
    </h1>
  </div>
    <%= cl_image_tag @pet.photo.key, class: "pet-photo w-100"%>
     <div class= "pet-title w-100"><h2> Get to know <%= @pet.name %></div>
  <div class="container pet-grid  w-100">
      </h2>
    <div class="row pet-row d-flex justify-content-between">
      <div class="col-4 pet-details">
        <p>PET DETAIL ONE</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL TWO</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL THREE</p>
      </div>
      <%= link_to "Adopt me!", create_request_path(@pet), method: :post %>
    </div>
      </div>
</div>
