<head>
  <%= stylesheet_link_tag 'pet_show' %>
</head>

<div class="container">
  <div class= "pet_show_bar">
    <h1><%= @pet.name %>
    </h1>
  </div>
    <% if @pet.photo.attached? %>
      <%= cl_image_tag @pet.photo.key, class: "pet-photo w-100"%>
    <% end %>
  <div class= "pet-title w-100">
    <h2> Get to know <%= @pet.name %></h2>
  </div>
  <div class="container pet-grid  w-100">
    <div class="row pet-row d-flex justify-content-between">
      <div class="col-4 pet-details">
        <p>PET DETAIL ONE</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL TWO</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL THREE</p>
      </div>
      <% if current_user.owns_this_pet?(@pet) %>
        <p>You own this pet</p>
      <% elsif current_user.has_an_active_request_with_this_(@pet) %>
        <%= pet_requests_status(@pet) %>
      <% else %>
          <%= link_to "Adopt me!", pet_adoption_requests_path(@pet), data: {turbo_method: :post} %>
      <% end %>
    </div>
  </div>
</div>
