<h3>You submitted a request to adopt <%= request.pet.name %></h3>
<p>
    <strong>Pet name:</strong><%= request.pet.name %><br>
    <strong>Pet owner:</strong><%= request.pet.user.name %><br>
    <strong>Breed:</strong><%= request.pet.breed %><br>
    <strong>Species:</strong><%= request.pet.species %><br>
  </p>