<h3><%= request.user.name %> would like to adopt <%= request.pet.name %></h3>
<p>
    <strong>Name: </strong><%= request.user.name %> <%= request.user.last_name %><br>
    <strong>Email: </strong><%= request.user.email %><br>
    <strong>Age: </strong><%= request.user.age %><br>
    <strong>Preferences: </strong><%= request.user.preferences %><br>
    <strong>Request Status: </strong><%= request.status %><br>
  </p>